<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CountryInfoServiceSoapBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CountryInfoServiceSoapBinding121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso"
                binding="basicHttpBinding" bindingConfiguration="CountryInfoServiceSoapBinding1"
                contract="CountryInfoServiceReference.CountryInfoServiceSoapType"
                name="CountryInfoServiceSoap" />
            <endpoint address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso"
                binding="customBinding" bindingConfiguration="CountryInfoServiceSoapBinding121"
                contract="CountryInfoServiceReference.CountryInfoServiceSoapType"
                name="CountryInfoServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>